In [4]:
import pandas as pd

In [6]:
data = pd.read_csv("Credit_score.csv")

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 32 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   Customer_ID               100000 non-null  object
 1   Age                       100000 non-null  int64
 2   Occupation                100000 non-null  object
 3   Annual_Income             100000 non-null  float64
 4   Monthly_Inhand_Salary     100000 non-null  float64
 5   Num_Bank_Accounts         100000 non-null  int64
 6   Num_Credit_Card           100000 non-null  int64
 7   Interest_Rate             100000 non-null  float64
 8   Num_of_Loan               100000 non-null  int64
 9   Delay_from_due_date       100000 non-null  int64
 10  Num_of_Delayed_Payment    100000 non-null  int64
 11  Changed_Credit_Limit      100000 non-null  float64
 12  Num_Credit_Inquiries      100000 non-null  int64
 13  Credit_Mix                100000 non-null  object
 14  Outstanding_Debt          100000 non-null  float64
 15  Credit_Utilization_Ratio  100000 non-null  float64
 16  Credit_History_Age        100000 non-null  int64
 17  Payment_of_Min_Amount     100000 non-null  object
 18  Total_EMI_per_month       100000 non-null  float64
 19  Amount_invested_monthly   100000 non-null  float64
 20  Payment_Behaviour         100000 non-null  object
 21  Monthly_Balance           100000 non-null  float64
 22  Last_Loan_9               100000 non-null  object
 23  Last_Loan_8               100000 non-null  object
 24  Last_Loan_7               100000 non-null  object
 25  Last_Loan_6               100000 non-null  object
 26  Last_Loan_5               100000 non-null  object
 27  Last_Loan_4               100000 non-null  object
 28  Last_Loan_3               100000 non-null  object
 29  Last_Loan_2               100000 non-null  object
 30  Last_Loan_1               100000 non-null  object
 31  Credit_Score              100000 non-null  object
dtypes: float64(9), int64(8), object(15)
memory usage: 24.4+ MB

In [14]:
data.sample(5)

,Customer_ID,Age,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Num_of_Loan,Delay_from_due_date,...,Last_Loan_9,Last_Loan_8,Last_Loan_7,Last_Loan_6,Last_Loan_5,Last_Loan_4,Last_Loan_3,Last_Loan_2,Last_Loan_1,Credit_Score
16282,CUS_0x3434,17,Teacher,20380.410,1581.367500,7,6,29.0,4,28,...,No Loan,No Loan,No Loan,No Loan,No Loan,Credit-Builder Loan,Payday Loan,Auto Loan,Credit-Builder Loan,Poor
18416,CUS_0x63fe,35,Mechanic,35062.630,2995.885833,0,5,7.0,0,17,...,No Loan,No Loan,No Loan,No Loan,No Loan,No Loan,No Loan,No Loan,No Loan,Poor
1091,CUS_0xbe1,22,Architect,55188.520,4876.043333,5,4,8.0,0,28,...,No Loan,No Loan,No Loan,No Loan,No Loan,No Loan,No Loan,No Loan,No Loan,Standard
74915,CUS_0xa16e,41,Media_Manager,10183.015,1074.584583,7,5,17.0,5,48,...,No Loan,No Loan,No Loan,No Loan,Credit-Builder Loan,Mortgage Loan,Mortgage Loan,Credit-Builder Loan,Student Loan,Poor
18497,CUS_0x8a9c,47,Accountant,148570.800,12370.900000,5,2,8.0,4,11,...,No Loan,No Loan,No Loan,No Loan,No Loan,Mortgage Loan,Credit-Builder Loan,Credit-Builder Loan,Home Equity Loan,Good

In [18]:
data = data.dropna()

In [26]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

# Assuming 'data' is your DataFrame

# Step 1: Separate numeric and categorical columns
numeric_columns = data.select_dtypes(include=['int64', 'float64']).columns
categorical_columns = data.select_dtypes(include=['object']).columns

# Step 2: Impute missing values
# For numeric columns, use mean strategy
imputer_numeric = SimpleImputer(strategy='mean')
data[numeric_columns] = imputer_numeric.fit_transform(data[numeric_columns])

# For categorical columns, use the most frequent strategy
imputer_categorical = SimpleImputer(strategy='most_frequent')
data[categorical_columns] = imputer_categorical.fit_transform(data[categorical_columns])

# Step 3: Drop the Customer_ID column
data = data.drop('Customer_ID', axis=1)  # Drop the Customer_ID column

# Step 4: Split the data into features (X) and target (y)
X = data.drop('Credit_Score', axis=1)  # Replace 'Credit_Score' with your target column
y = data['Credit_Score']

# Step 5: Split into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Step 6: Standardize the numerical features
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train[numeric_columns])
X_test_scaled = scaler.transform(X_test[numeric_columns])

# Step 7: Apply PCA for dimensionality reduction
pca = PCA(n_components=2)  # Adjust the number of components as needed
X_train_pca = pca.fit_transform(X_train_scaled)
X_test_pca = pca.transform(X_test_scaled)

# Step 8: Train the model
model = RandomForestClassifier(random_state=42)
model.fit(X_train_pca, y_train)

# Step 9: Make predictions and evaluate
y_pred = model.predict(X_test_pca)
accuracy = accuracy_score(y_test, y_pred)

print(f"Model Accuracy: {accuracy * 100:.2f}%")

Model Accuracy: 60.14%

In [24]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 32 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   Customer_ID               100000 non-null  object
 1   Age                       100000 non-null  float64
 2   Occupation                100000 non-null  object
 3   Annual_Income             100000 non-null  float64
 4   Monthly_Inhand_Salary     100000 non-null  float64
 5   Num_Bank_Accounts         100000 non-null  float64
 6   Num_Credit_Card           100000 non-null  float64
 7   Interest_Rate             100000 non-null  float64
 8   Num_of_Loan               100000 non-null  float64
 9   Delay_from_due_date       100000 non-null  float64
 10  Num_of_Delayed_Payment    100000 non-null  float64
 11  Changed_Credit_Limit      100000 non-null  float64
 12  Num_Credit_Inquiries      100000 non-null  float64
 13  Credit_Mix                100000 non-null  object
 14  Outstanding_Debt          100000 non-null  float64
 15  Credit_Utilization_Ratio  100000 non-null  float64
 16  Credit_History_Age        100000 non-null  float64
 17  Payment_of_Min_Amount     100000 non-null  object
 18  Total_EMI_per_month       100000 non-null  float64
 19  Amount_invested_monthly   100000 non-null  float64
 20  Payment_Behaviour         100000 non-null  object
 21  Monthly_Balance           100000 non-null  float64
 22  Last_Loan_9               100000 non-null  object
 23  Last_Loan_8               100000 non-null  object
 24  Last_Loan_7               100000 non-null  object
 25  Last_Loan_6               100000 non-null  object
 26  Last_Loan_5               100000 non-null  object
 27  Last_Loan_4               100000 non-null  object
 28  Last_Loan_3               100000 non-null  object
 29  Last_Loan_2               100000 non-null  object
 30  Last_Loan_1               100000 non-null  object
 31  Credit_Score              100000 non-null  object
dtypes: float64(17), object(15)
memory usage: 24.4+ MB

In [28]:
from sklearn.model_selection import GridSearchCV

# Define the model
model = RandomForestClassifier(random_state=42)

# Define the parameter grid
param_grid = {
    'n_estimators': [50, 100, 200],
    'max_depth': [None, 10, 20, 30],
    'min_samples_split': [2, 5, 10],
    'min_samples_leaf': [1, 2, 4],
}

# Perform Grid Search
grid_search = GridSearchCV(estimator=model, param_grid=param_grid, 
                           scoring='accuracy', cv=3, n_jobs=-1, verbose=2)
grid_search.fit(X_train_pca, y_train)

# Get the best parameters and best score
best_params = grid_search.best_params_
best_score = grid_search.best_score_
print(f"Best Parameters: {best_params}")
print(f"Best Cross-Validation Accuracy: {best_score * 100:.2f}%")

Fitting 3 folds for each of 108 candidates, totalling 324 fits
Best Parameters: {'max_depth': 10, 'min_samples_leaf': 2, 'min_samples_split': 5, 'n_estimators': 200}
Best Cross-Validation Accuracy: 64.27%

In [29]:
# 1. Feature Engineering (One-Hot Encoding example)
X = pd.get_dummies(data.drop('Credit_Score', axis=1), drop_first=True)

# 2. Split data, scale, and apply PCA as previously done

# 3. Hyperparameter Tuning
from sklearn.model_selection import GridSearchCV
from sklearn.ensemble import RandomForestClassifier

model = RandomForestClassifier(random_state=42)
param_grid = {
    'n_estimators': [50, 100],
    'max_depth': [None, 10, 20],
    'min_samples_split': [2, 5],
}
grid_search = GridSearchCV(estimator=model, param_grid=param_grid, cv=3, scoring='accuracy', n_jobs=-1)
grid_search.fit(X_train_pca, y_train)

best_model = grid_search.best_estimator_
y_pred = best_model.predict(X_test_pca)
accuracy = accuracy_score(y_test, y_pred)
print(f"Optimized Model Accuracy: {accuracy * 100:.2f}%")

Optimized Model Accuracy: 64.44%