In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

In [3]:
data = pd.read_csv("mbti_characters.csv")

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 167422 entries, 0 to 167421
Data columns (total 32 columns):
 #   Column                           Non-Null Count   Dtype
---  ------                           --------------   -----
 0   id                               167422 non-null  int64
 1   name                             167422 non-null  object
 2   cat_id                           167422 non-null  int64
 3   category                         167422 non-null  object
 4   sub_cat_id                       167422 non-null  int64
 5   subcategory                      167422 non-null  object
 6   four_letter                      167422 non-null  object
 7   four_letter_total_voted          167422 non-null  int64
 8   enneagram                        137061 non-null  object
 9   enneagram_total_voted            167422 non-null  int64
 10  socionics                        55653 non-null   object
 11  socionics_total_voted            167422 non-null  int64
 12  instinctual_variant              80251 non-null   object
 13  instinctual_variant_total_voted  167422 non-null  int64
 14  tritype                          79497 non-null   float64
 15  tritype_total_voted              167422 non-null  int64
 16  temperaments                     87580 non-null   object
 17  temperaments_total_voted         167422 non-null  int64
 18  attitudinal_psyche               41473 non-null   object
 19  attitudinal_psyche_total_voted   167422 non-null  int64
 20  big_5_SLOAN                      57781 non-null   object
 21  big_5_SLOAN_total_voted          167422 non-null  int64
 22  classic_jungian                  31505 non-null   object
 23  classic_jungian_total_voted      167422 non-null  int64
 24  letter_1                         167422 non-null  object
 25  letter_1_percentage              167422 non-null  float64
 26  letter_2                         167422 non-null  object
 27  letter_2_percentage              167422 non-null  float64
 28  letter_3                         167422 non-null  object
 29  letter_3_percentage              167422 non-null  float64
 30  letter_4                         167422 non-null  object
 31  letter_4_percentage              167422 non-null  float64
dtypes: float64(5), int64(12), object(15)
memory usage: 40.9+ MB

In [7]:
data.sample(5)

,id,name,cat_id,category,sub_cat_id,subcategory,four_letter,four_letter_total_voted,enneagram,enneagram_total_voted,...,classic_jungian,classic_jungian_total_voted,letter_1,letter_1_percentage,letter_2,letter_2_percentage,letter_3,letter_3_percentage,letter_4,letter_4_percentage
69534,59823,Texen Raider,11,Gaming,5171,Pokémon Rejuvenation (Fan-Made Game),ESTP,1,7w8,1,...,NaN,0,E,1.00,S,1.00,T,1.00,P,1.0
157887,243019,Justino Torosián,12,Literature,15459,Lo que venga,ISFP,1,NaN,0,...,NaN,0,I,1.00,S,1.00,F,1.00,P,1.0
9024,280169,Ben Coogan,2,Television,182,Pretty Little Liars (2010),ESTP,2,8w7,1,...,NaN,0,E,1.00,S,1.00,T,1.00,P,1.0
75931,72412,Omera,2,Television,5671,The Mandalorian (2019),ISFJ,32,2w1,19,...,NaN,0,I,0.94,S,0.94,F,1.00,J,1.0
78481,512908,Yulha,11,Gaming,5850,Epic Seven,INFP,4,1w2,3,...,IN(T),1,I,1.00,N,1.00,F,0.75,P,0.5

In [11]:
data.isnull().sum()/data.shape[0]

id                                 0.000000
name                               0.000000
cat_id                             0.000000
category                           0.000000
sub_cat_id                         0.000000
subcategory                        0.000000
four_letter                        0.000000
four_letter_total_voted            0.000000
enneagram                          0.181344
enneagram_total_voted              0.000000
socionics                          0.667588
socionics_total_voted              0.000000
instinctual_variant                0.520666
instinctual_variant_total_voted    0.000000
tritype                            0.525170
tritype_total_voted                0.000000
temperaments                       0.476891
temperaments_total_voted           0.000000
attitudinal_psyche                 0.752285
attitudinal_psyche_total_voted     0.000000
big_5_SLOAN                        0.654878
big_5_SLOAN_total_voted            0.000000
classic_jungian                    0.811823
classic_jungian_total_voted        0.000000
letter_1                           0.000000
letter_1_percentage                0.000000
letter_2                           0.000000
letter_2_percentage                0.000000
letter_3                           0.000000
letter_3_percentage                0.000000
letter_4                           0.000000
letter_4_percentage                0.000000
dtype: float64

In [17]:
columns_to_drop = [
    'id', 'name', 'cat_id', 'sub_cat_id', 'subcategory',
    'four_letter_total_voted', 'enneagram_total_voted', 'socionics_total_voted',
    'instinctual_variant_total_voted', 'tritype_total_voted', 'temperaments_total_voted',
    'attitudinal_psyche_total_voted', 'big_5_SLOAN_total_voted', 'classic_jungian_total_voted',
    'socionics', 'attitudinal_psyche', 'classic_jungian', 'tritype',
    'letter_1', 'letter_1_percentage', 'letter_2', 'letter_2_percentage',
    'letter_3', 'letter_3_percentage', 'letter_4', 'letter_4_percentage'
]

df = data.drop(columns=columns_to_drop)

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 167422 entries, 0 to 167421
Data columns (total 5 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   four_letter          167422 non-null  object
 1   enneagram            137061 non-null  object
 2   instinctual_variant  80251 non-null   object
 3   temperaments         87580 non-null   object
 4   big_5_SLOAN          57781 non-null   object
dtypes: object(5)
memory usage: 6.4+ MB

In [21]:
df.head()

,four_letter,enneagram,instinctual_variant,temperaments,big_5_SLOAN
0,INFJ,1w9,so/sp,Phlegmatic [Dominant],RCOEN
1,INTP,6w7,sp/sx,Melancholic [Dominant],RLUEI
2,ENTP,7w8,sp/so,Sanguine-Phlegmatic,SCUAI
3,ESTJ,3w4,so/sp,Choleric [Dominant],SLOEI
4,INTP,5w6,sp/sx,Phlegmatic-Choleric,RCUEI

In [27]:
df.isnull().sum()/df.shape[0]

four_letter            0.000000
enneagram              0.181344
instinctual_variant    0.520666
temperaments           0.476891
big_5_SLOAN            0.654878
dtype: float64

In [31]:
data['socionics']

0         EII
1         ILI
2         ILE
3         EIE
4         ILE
         ...
167417    SLE
167418    NaN
167419    NaN
167420    NaN
167421    NaN
Name: socionics, Length: 167422, dtype: object